@import "tailwindcss";

body {
    background-image: url("https://source.unsplash.com/random/1600x900?abstract,form");
    background-size: cover;
    background-position: center;
}

[data-nextjs-vercel-toolbar] {
    display: none !important;
}
